.Filler{
    height: 10vh;
}


#Navbar{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
.Navbar-Cont{
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    height: 10vh;
}
.Navbar-R, .Navbar-R-Res{
    width: 50%;
}
.Navbar-R div, .Navbar-R-Res div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar-R div a, .Navbar-R-Res div a{
    text-decoration: none;
    color: var(--color1);
}
.Navbar-R div a:hover ,.Navbar-R-Res div a:hover{
    color:var(--color2)
}
.Navbar-Icon img{
    width: 40px;
}
.Navbar-Icon{
    display: none;

}
.Navbar-R-Res .Navbar-R-Res-Logo{
    display: none;
    padding-bottom: 40px;
}
.Navbar-R-Res-Logo img{
    width: 100px;
    object-fit: cover;

}
.Navbar-R-Res{
    display: none;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}


@media (max-width:1315px) {
    .Navbar-Cont{
        padding: 0px 40px;
    }
    .Navbar-R{
        width: 60%;
    }
}

@media (max-width:900px) {
    .Navbar-R{
        display: none;
    }
    .Navbar-R-Res div {
        flex-direction: column;
        padding-top: 20px;
    }
    .Navbar-R-Res div a{
        width: 100%;
        height: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Navbar-R-Res div a:hover{
        background-color: var(--color3);
    }
    .Navbar-R-Res{
        position: fixed;
        background-color: var(--color4);
        width: 300px;
        right: 0;
        top: 10vh;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .Navbar-R-Res .Navbar-R-Res-Logo{
        display: flex;
    }
    .Navbar-Icon{
        display: flex;
    }
    .Navbar-R-Res.open {
        display: flex;
        transform: translateX(0);
    }
}

@media (max-width:600px) {
    .Navbar-Cont{
        padding: 0px 20px;
    }
}

@media (max-width:450px) {
    .Navbar-R-Res{
        width: 200px;
    }
    .Navbar-R-Res-Logo img{
        width: 80px;
    }
}