.Hero-Cont{
    height: 90vh;
    overflow: hidden;
    background-color: var(--bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Hero-Img img{
    width: 600px;
}
.Hero-L{
    width: 40%;
}
.Hero-L p{
    font-size: 35pt;
}
.Hero-L p span{
    color: var(--color2);
}

.custom-shape-divider-bottom-1727621965 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.custom-shape-divider-bottom-1727621965 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
}

.custom-shape-divider-bottom-1727621965 .shape-fill {
    fill: var(--color2);
}

@media (max-width:1490px) {
    .Hero-L p{
        font-size: 35pt;
    }
}

@media (max-width:1390px) {
    .Hero-L p{
        font-size: 33pt;
    }
    .Hero-Img img{
        width: 500px;
    }
}
@media (max-width:1150px) {
    .Hero-L p{
        font-size: 28pt;
    }
    .Hero-Img img{
        width: 400px;
    }
}

@media (max-width:900px) {
    .Hero-Cont{
        flex-direction: column-reverse;
        height: 110vh;
        justify-content: center;
    }
    .Hero-L{
        width: 90%;
    }
    .Hero-L p{
        text-align: center;
    }
    .Hero-Img img{
        width: 500px;
    }
    .custom-shape-divider-bottom-1727621965{
        bottom: -20vh;
    }
}

@media (max-width:600px) {
    .Hero-L p{
        font-size: 18pt;
    }
    .Hero-Img img{
        width: 350px;
    }
    .Hero-Cont{
        height: 80vh;
    }
    .custom-shape-divider-bottom-1727621965{
        bottom: 10vh;
    }
    .custom-shape-divider-bottom-1727621965 svg{
        width: 150%;
    }

}
@media (max-width:400px) {
    .Hero-L p{
        font-size: 15pt;
    }
}