.Project-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--color2);
    padding-top: 40px;
}

.Project-Card-Img{
    width:350px;
    position: relative;
    height: 200px;
}
.Project-Card-Img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(0.8);
}
.Project-Display{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.Project-Card{
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--color4);
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.301);
    flex-direction: column;
}
.Project-Card-Text{
    width: 320px;
    text-align: justify;
    padding-top: 10px;
}
.Project-Card-Title{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: var(--color4);
}
.Project-Nav button{
    border: none;
    background-color: transparent;
    color: var(--color4);
    font-size: 13pt;
    font-family: Poppins;
    cursor: pointer;
}
.Project-Nav button:hover{
    color: var(--color3);
}
.Project-Nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}
.Project-Card-Cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 100%;
}
.Project-Title{
    font-size: 16pt;
    color: white;
}