.Project-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--color2);
    padding-top: 60px;
    padding-bottom: 40px;
}

.Project-Card-Img{
    width:100%;
    position: relative;
    height: 200px;
}
.Project-Card-Img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(0.8);
}
.Project-Display{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.Project-Card{
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--color4);
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.301);
    flex-direction: column;
}
.Project-Card-Text{
    width: 90%;
    text-align: justify;
    padding-top: 10px;
}
.Project-Card-Title{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: var(--color4);
}
.Project-Nav button{
    border: none;
    background-color: transparent;
    color: var(--color4);
    font-size: 13pt;
    font-family: Poppins;
    cursor: pointer;
}
.Project-Nav button:hover{
    color: var(--color3);
}
.Project-Nav{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}
.Project-Card-Cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 100%;
}
.Project-Title{
    font-size: 16pt;
    color: white;
}

@media (max-width:1700px) {
    .Project-Nav{
        width: 700px;
    }
    .Project-Card{
        height: 500px;
    }
}
@media (max-width:1550px) {
    .Project-Card{
        font-size: 11pt;
        height: 450px;
    }

}
@media (max-width:1550px) {
    .Project-Display{
        width: 90%;
    }
    .Project-Card{
        font-size: 11pt;
        height: 400px;
    }

}
@media (max-width:1130px) {
    .Project-Display{
        width: 90%;
    }
    .Project-Card{
        font-size: 11pt;
        height: 450px;
    }

}

@media (max-width:980px) {
    .Project-Card-Cont{
        grid-template-columns:repeat(2, 1fr);
        height: 450px;
        overflow-y: scroll;
    }
}

@media (max-width:700px) {
    .Project-Nav{
        width: 90%;
        justify-content: space-between;
        display: none;
    }
    .Project-Nav button{
        font-size: 10pt;
    }
    .Project-Card-Cont{
        height: 850px;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    .ProjectRex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Project-Card{
        height: 400px;
    }
}
