.Services-Cont{
    background-color: var(--color4);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    padding-bottom: 150px;

}

.Services-Card{
    background-color: red;
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.178);

}

.Services-Card .Services-Img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.Services-Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.Services-Card-Cont{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in;
    color: white;
}

.Services-Card-Title{
    font-size: 14pt;
    text-align: center;
    padding-bottom: 10px;
}

.Services-Card-Text{
    font-size: 11pt;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    transition: max-height 0.5s ease-in, padding-bottom 0.5s ease-in;
}

.Services-Card:hover .Services-Card-Text{
    max-height: 150px; 
    padding-bottom: 10px;
    overflow-y: scroll;
}
.Services-Card:hover .Services-Card-Text::-webkit-scrollbar {
    display: none;
}
.Services-Card:hover .Services-Card-Text {
    scrollbar-width: none; /* Hide scrollbar */
}
.Services-Card-All{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}
.Services-Title{
    font-size: 18pt;
    padding: 20px 0px 50px 0px;
}

@media (max-width:1420px) {
    .Services-Card{
        width: 280px;
        height: 280px;
    }
}
@media (max-width:1350px) {
    .Services-Card{
        width: 250px;
        height: 250px;
    }
    .Services-Card-Title{
        font-size: 11pt;
    }
    .Services-Card-Text{
        font-size: 10pt;
    }
}
@media (max-width:1230px) {
    .Services-Card-All{
        grid-gap: 30px;
    }
    .Services-Card:hover .Services-Card-Text{
        max-height: 120px;
    }

    
}
@media (max-width:1130px) {
    .Services-Card{
        width: 200px;
        height: 200px;
    }
    .Services-Card-All{
        grid-gap: 40px;
    }
    
}